.hidden {
    opacity: 0;
    visibility: hidden;
    /* transition: visibility 0s 0.5s, opacity 0.5s ease; */
    /* Smooth fade-in */
}

.visible {
    opacity: 1;
    visibility: visible;
    /* transition: opacity 0.5s ease; */
    /* Smooth fade-in */
}